.option-block {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.option-block__message {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10% );
}

.option-block-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.option-block-header__title {
  margin: 0;
}
